<html lang='en'>
  <head>
    {{>head}}
  <script src='./pages/Dashboard.js' type='module' async></script>
  <script src='./utils/protectedRoute.js' type='module' async></script>
  </head>
  <body>
    {{>navbar}}
    <home-page></home-page>
  </body>
</html>